@media screen all {
	body {
		margin: 0;
		padding: 0;
	}
}

@media only screen and (max-width: 600px) {
	.text-right {
    text-align: center;
}
.footer_designer_info {
    text-align: center;
}
.footer_copyrigth_sec {
	text-align: center;
}
.contact_form {
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 10px;
}
.contact_mail {
	margin-top: 0;
}
.contact_area h2, {
	margin-bottom: 0;
}
}
